*{
  padding: 0;
  margin: 0;

}
body,html{
  height: 100%;
}
#particles-js1{
  position: absolute;
  padding-top: 1px;
  margin-top: -1px;
  background-color:#0B365A;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.box{
  box-sizing: border-box;
 font-family: 'Manuale', serif;
  background-color: white;
  border-top:2px solid #2AD4FF;
  padding: 20px;
  width: 30%;
  min-width: 300px;
  max-width: 100%;
  margin:200px auto;
z-index:-1;
font-size: 25px;
letter-spacing:1px;
line-height: 1.1em;

}
.big{

  font-size: 30px;
}
